@using System.Collections.Generic;
@using Trees.Models;
@using Trees.Models.Stateful;

@{
    @model Deck<Event>
}
        <div class="col-md-4">
            <div class="panel panel-default">
                 <div class="panel-heading">Event Deck</div>
                 <div class="panel-body">
                     Cards in Deck: @Model.DeckCount<br/>
                     Cards in Discard: @Model.DiscardCount
                 </div>
            </div>
        </div>
